<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.cdnfonts.com/css/playpen-sans');

        /* Custom styling */
        body {
            background-color: black;
            font-family: 'Playpen Sans', sans-serif;
        }

        /* New styling for centering */
        .main-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            max-width: 500px;
            /* Adjusted for better width control */
            text-align: center;
            /* Center the text */
        }
    </style>
</head>

<body class="min-h-screen flex flex-col">
    <!-- Navbar -->
    <nav class="p-6 bg-black flex justify-between items-center text-white">
        <a href="/" class="text-2xl font-bold">MiniLink</a>
        <div>
            <a href="/" class="text-white mr-6">Home</a>
            <a href="/history" class="text-white mr-6">History</a>
            <a href="/login" class="text-white">Login</a>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container mx-auto flex-grow flex justify-center items-center">
        <div class="main-content">
            <h1 class="text-3xl font-bold text-white mb-4 whitespace-nowrap">
                Make URLs Short & Simple
            </h1>
            <form action="/" method="POST" class="w-full">
                <div class="flex items-center border-2 border-blue-500 rounded overflow-hidden">
                    <input type="text" name="original_url" placeholder="Paste your long URL here"
                        class="appearance-none bg-transparent border-none w-full text-white py-2 px-4 leading-tight focus:outline-none" />
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-6 rounded-r focus:outline-none flex-shrink-0">
                        Shorten Now
                    </button>
                </div>
            </form>
            <% if (key) { %>
                <div id="shortened-url-message" class="text-white mt-4">
                    Your shortened URL is:
                    <span id="shortened-url" class="font-bold">
                        <a href="http://localtest.me/<%= key %>">localtest.me/u/<%= key %></a>
                    </span>
                </div>
            <% } %>
        </div>
    </main>
</body>

</html>